/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #2F2F2F;
}

hr {
  margin: 0;
  margin-top: 5px;
  opacity: 0.5;
}

.bg-yellow {
  width: 460px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8E951;
  padding-top: 30px;
}

.container {
  max-width: 390px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container header .text {
  font-size: 18px;
}

.link-close span {
  width: 2px;
  height: 13px;
  background-color: black;
  display: inline-block;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.link-close .one {
  -webkit-transform: translateX(1px) rotate(45deg);
      -ms-transform: translateX(1px) rotate(45deg);
          transform: translateX(1px) rotate(45deg);
}

.link-close .two {
  -webkit-transform: translateX(-1px) rotate(-45deg);
      -ms-transform: translateX(-1px) rotate(-45deg);
          transform: translateX(-1px) rotate(-45deg);
}

.link-close:hover span {
  opacity: 1;
}

.bg-white {
  width: 100%;
  margin-top: 30px;
  background-color: #fff;
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px);
  position: relative;
}

.big-container {
  max-width: 420px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.avatar {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  position: absolute;
  left: 40px;
  top: -27.5px;
}

form label {
  display: block;
  text-transform: uppercase;
  color: #b6b6b6;
  font-size: 10px;
  margin-bottom: 10px;
  margin-top: 20px;
}

form input {
  color: #727272;
  border: none;
  font-size: 12px;
  padding: 0;
}

form input:focus {
  outline: none;
}

.names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.names div {
  width: 50%;
}

form textarea {
  width: 100%;
  height: 80px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

form textarea:focus {
  outline: none;
}

.container-btn {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: right;
}

.btn {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.btn:hover {
  opacity: 1;
}